.env
env
env39
lab/.env
lab/database/.env
lab/key.py
*/__pycache__/*
lab/exports/*
lab/graveyard/
lab/riskrange/output/*
lab/COMMANDS.txt
lab/correlations/output/*
lab/rescaledrange/output/*
lab/macro/output/*
lab/trend/output/*
lab/donchian/output/*
lab/news/output/*
lab/volume/output/*
lab/donchian/news/*
lab/fintwit/user.py
lab/fintwit/notes.*
lab/redisdb/export/*
lab/redisdb/imports/*
*.sqlite
.vscode
settings.json
db.sqlite3
